mern-todo-app.ramtinba.de {
  encode gzip
  reverse_proxy client:80
}

mern-todo-app-api.ramtinba.de {
  reverse_proxy api:4004
}

http://mern-todo-app.ramtinba.de {
  redir https://mern-todo-app.ramtinba.de{uri} 301
}

http://mern-todo-app-api.ramtinba.de {
  redir https://mern-todo-app-api.ramtinba.de{uri} 301
}
